body {
  background-color: #ffffff;
  text-align: center;
  color: #fff;
  padding-top: 10em;
}

* {
  color: #000000;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}